body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
    min-width: 300px;
    min-height: 200px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.hex:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
}

.game-info {
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
